<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
data.groupby(['sex'])['sex'].count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [81]:
data[(data['sex']=='Female')]['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [29]:
all = data.shape[0]
german = data[(data['native-country']=='Germany')]['native-country'].count()

In [31]:
german/all*100

0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [42]:
data[(data['salary'] == '>50K')].groupby(['salary'])['age'].describe()[['mean', 'std']]

             mean        std
salary
>50K    44.249841  10.519028

In [44]:
data[(data['salary'] == '<=50K')].groupby(['salary'])['age'].describe()[['mean', 'std']]

             mean        std
salary
<=50K   36.783738  14.020088

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [52]:
data[(data['salary'] == '>50K')].groupby(['education'])['education', 'salary'].describe()

             education                            salary
                 count unique           top  freq  count unique   top  freq
education
10th                62      1          10th    62     62      1  >50K    62
11th                60      1          11th    60     60      1  >50K    60
12th                33      1          12th    33     33      1  >50K    33
1st-4th              6      1       1st-4th     6      6      1  >50K     6
5th-6th             16      1       5th-6th    16     16      1  >50K    16
7th-8th             40      1       7th-8th    40     40      1  >50K    40
9th                 27      1           9th    27     27      1  >50K    27
Assoc-acdm         265      1    Assoc-acdm   265    265      1  >50K   265
Assoc-voc          361      1     Assoc-voc   361    361      1  >50K   361
Bachelors         2221      1     Bachelors  2221   2221      1  >50K  2221
Doctorate          306      1     Doctorate   306    306      1  >50K   306
HS-grad           1675      1       HS-grad  1675   1675      1  >50K  1675
Masters            959      1       Masters   959    959      1  >50K   959
Prof-school        423      1   Prof-school   423    423      1  >50K   423
Some-college      1387      1  Some-college  1387   1387      1  >50K  1387

In [53]:
# из данного примера видно, что есть люди, не обладающие высшим образованием, но также получающие >50K

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [64]:
data[(data['race']=='Amer-Indian-Eskimo') & (data['sex'] == 'Male')].groupby(['race'])['age'].describe()[['max']]

                     max
race
Amer-Indian-Eskimo  82.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [76]:
counted = data[(data['salary'] == '>50K') & ((data['marital-status'] == 'Married-civ-spouse') | (data['marital-status'] == 'Married-spouse-absent') | (data['marital-status'] == 'Married-AF-spouse'))].groupby(['marital-status'])['salary'].count()
a = [i for i in counted]
sum1 = 0
for j in a:
    sum1 += j
sum1

6736

In [77]:
counted = data[(data['salary'] == '>50K') & ((data['marital-status'] != 'Married-civ-spouse') & (data['marital-status'] != 'Married-spouse-absent') & (data['marital-status'] != 'Married-AF-spouse'))].groupby(['marital-status'])['salary'].count()
a = [i for i in counted]
sum2 = 0
for j in a:
    sum2 += j
sum2

1105

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [82]:
data['hours-per-week'].max()

99

In [89]:
data[(data['hours-per-week'] == 99)]['age'].count()

85

In [90]:
data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')]['age'].count()

25

In [91]:
all = data[(data['hours-per-week'] == 99)]['age'].count()
high_paid = data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')]['age'].count()
high_paid/all*100

29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [92]:
data.groupby(['salary', 'native-country'])['hours-per-week'].mean()

salary  native-country
<=50K   ?                             40.16
        Cambodia                      41.42
        Canada                        37.91
        China                         37.38
        Columbia                      38.68
        Cuba                          37.99
        Dominican-Republic            42.34
        Ecuador                       38.04
        El-Salvador                   36.03
        England                       40.48
        France                        41.06
        Germany                       39.14
        Greece                        41.81
        Guatemala                     39.36
        Haiti                         36.33
        Holand-Netherlands            40.00
        Honduras                      34.33
        Hong                          39.14
        Hungary                       31.30
        India                         38.23
        Iran                          41.44
        Ireland                       40.95
        Italy                         39.62
        Jamaica                       38.24
        Japan                         41.00
        Laos                          40.38
        Mexico                        40.00
        Nicaragua                     36.09
        Outlying-US(Guam-USVI-etc)    41.86
        Peru                          35.07
                                      ...
>50K    France                        50.75
        Germany                       44.98
        Greece                        50.62
        Guatemala                     36.67
        Haiti                         42.75
        Honduras                      60.00
        Hong                          45.00
        Hungary                       50.00
        India                         46.48
        Iran                          47.50
        Ireland                       48.00
        Italy                         45.40
        Jamaica                       41.10
        Japan                         47.96
        Laos                          40.00
        Mexico                        46.58
        Nicaragua                     37.50
        Peru                          40.00
        Philippines                   43.03
        Poland                        39.00
        Portugal                      41.50
        Puerto-Rico                   39.42
        Scotland                      46.67
        South                         51.44
        Taiwan                        46.80
        Thailand                      58.33
        Trinadad&Tobago               40.00
        United-States                 45.51
        Vietnam                       39.20
        Yugoslavia                    49.50
Name: hours-per-week, Length: 82, dtype: float64